<p>
  <strong>First Name</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong>Last Name</strong>
  <%= @employee.last_name %>
</p>

<p>
  <strong>Department</strong>
  <%= @employee.department %>
</p>
